* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica;
}

.container {
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-around;
}

.game_controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    margin: 25px;
}
.letter-tile {
    background-color: beige;
    text-align: center;
    width: 35px;
    height: 35px; 
    padding: 8px;   
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 350px;
    margin: 25px;
}

.button {
    background-color: white;
    border-radius: 15%;
    border-color: gray;
    width: 55px;
    height: 25px;
}


.words-found {
    list-style-type: none;
}

h2 {
    display: flex;
}
.current-word {
    display: flex;
    justify-content: space-around;
    width: 350px;
    font-size: 18px;
    height: 50px;
    border: solid black 1px;
}

