* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica;
}

.container {
    display: flex;
    /* width: 900px; */
    flex-direction: row;
    justify-content: space-around;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    margin: 25px;
}
.letter_tile {
    background-color: beige;
    text-align: center;
    width: 35px;
    height: 35px; 
    padding: 8px;   
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 350px;
    margin: 25px;
}

.button {
    background-color: white;
    border-radius: 15%;
    border-color: gray;
    width: 55px;
    height: 25px;
}

ul > li {
    list-style-type: none;
}

.current_word {
    display: flex;
    justify-content: space-around;
    width: 350px;
    font-size: 18px;
}